<div class="row">
    <div class="alert alert-info" ng-if="status">
        {{status}}
    </div>
</div>

<div class="row">
    <div class="alert alert-success" ng-if="isTurn">
        is your turn to shoot
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <board ng-if="myBoard" class="my-board" ng-model="myBoard" show-ships="true"></board>
    </div>

    <div class="col-md-6">
        <h4>Your Ships</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-4">

        <ul>
            <li ng-repeat="r in rockets">
                {{r}}
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <board ng-if="myBoard" class="your-board" ng-model="yourBoard" show-ships="false" select="shootShip"></board>
    </div>
</div>
