.board td,
.board th {
    width: 40px;
    height: 40px;
    text-align: center;
}

.board td {
    border: 1px solid #555;
}

.my-board td,
.my-board th {
    width: 30px;
    height: 30px;
}


td.ship {
    background: #ccc;
}

td.hit{
    background: red;
}

td.miss{
    background: blue;
}
